html {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    background-color: rgb(255, 255, 255);
}

body {
    width: 600;
    margin: auto;
    background-color:bisque;
    padding: 100px 100px 100px 100px;
}

#FotoPerfil {
    border-radius: 50%;
    
}

#DR {
    font-size: 40px;
    text-align: center;
    line-height: 30px;
}

#Title {
    font-size: 20px;
    line-height: 0;
    letter-spacing: 1px;
    text-align: left;
}